@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
*{
  background-color: rgb(33, 37, 41);
  color: white;
  font-family: 'Urbanist', sans-serif;  
}

.App {
  text-align: center;
}