.inter-head{
    font-size: 3.5rem;
    font-weight: 800;
    background : linear-gradient(to bottom, purple, white);
    background-clip: text;
    color: transparent;
}

.selection-inter{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.ai-svg {
    width: 300px;
    height: 300px;
    margin-right: 200px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}
 
.p2p-svg {
    width: 300px;
    height: 300px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}




