.outsider {
    /* font-size: 15px;  */
    padding: 20px 120px 40px 120px;

}

.logsig {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    /* min-width: min-content; */
    /* border: 3px groove white; */
}


.logsig h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.logsig form input[type="password"],.logsig form input[type="name"],
.logsig form input[type="text"], .logsig form input[type="email"] {
    height: 45px;
    min-width: 300px;
    width:300px;
}



.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: 600;
}

.form-control {
    color: black;
}

.form-control:hover{
    transition: 1s;
    border-color: aliceblue;
}
.form-control:focus {
    box-shadow: 0px 0px 5px grey;
}

.link:hover {
    text-decoration: underline;
    color: white;
}

.mybtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border-radius: 0%;
    font-size: 20px;
    height: 50px;
    background-color: rgb(63, 3, 118);
    border: 3px solid rgb(255, 255, 255);   
}
.mybtn:hover{
        background-color: rgb(0, 0, 0);
        color:aliceblue;
        border-color: aliceblue;
}

.end {
    position: absolute;
    right: 10px;
    bottom: 8px;
}

